body {
    font-family: 'Inter', sans-serif;
    /* font-weight:140; */
    font-weight:270;
    /* font-weight:535; */
    color: white;
}

/* weights are 140 270 and 535 */

.bggradient {
    background-image: linear-gradient(to bottom right,rgb(46, 46, 46), rgb(142, 142, 142));
}

#forden {
    position: fixed;
    bottom: 0;
    right: 0;
    width:200px;
    height: 200px;
    visibility: hidden;    
  }

.contentarea { 
    display:flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 97vh;
}

img.me {
    width: 10em;
    border-radius: 50%;
    margin-bottom:0;
}

.placeholder {
    text-align: center;
    width: auto;
    font-weight: 700;
    font-size: 1.1em;
}

h1.tagline {
    transform: rotate(-.77deg);
    margin-bottom:10;
}

div#myname {
    transform: rotate(4.77deg);
    position:relative;
    display:block;
    left:4em;
    bottom:-14em;
    font-weight:normal;
    font-size:12px
}
span#code {
    font-weight:120;
}

span#code:hover {
    color:chartreuse;
}
sub.yay {
    font-weight:500; 
    right:-20em;
    bottom:1em;
    font-size:.5em;
}

sub.yay:hover {
    color:yellow;
}

.subtext {
    font-size: .8em;
    font-weight: 210;
    height:3vh;
    text-align:center;
}

a {
    color:white;
}

a:visited {
    color:lightgrey;
}

a:hover {
    color:chartreuse;
    background-color:black;
}