* {
    font-family: 'Inter', sans-serif;
    color: white;
}

.bggradient {
    background-image: linear-gradient(to bottom right,rgb(46, 46, 46), rgb(142, 142, 142));
}

.contentarea { 
    display:flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 97vh;
}

img.me {
    width: 150px;
    border-radius: 50%;
}

.placeholder {
    text-align: center;
    width: auto;
    font-weight: 700;
    font-size: 1.1em;
}

h1.tagline {
    transform: rotate(-.77deg);
}


.subtext {
    font-size: .8em;
    font-weight: 210;
    height:3vh;
    text-align:center;
}